<!--template for restaurant editing page-->
<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
<div class="content">
{% if session.username == "admin" %}
<form action="/updaterestaurant" method="POST">
<p>Restaurant name:<br>
<input type="text" name="name" value="{{ restaurant.name }}"></p>
<p>Description:<br>
<textarea name="description" rows="10" cols="80">{{ restaurant.description }}</textarea></p>
<p>Tags:<br>
{% if restaurant_classes %}
{% for class in classes %}
{% for entry in restaurant_classes %}
{% if class.id == entry.class_id %}
<input type="checkbox" name="tag" value="{{ class.id }}" checked> {{ class.name }} <br>
{% else %}
<input type="checkbox" name="tag" value="{{ class.id }}"> {{ class.name }} <br>
{% endif %}
{% endfor %}
{% endfor %}
{% else %}
{% for class in classes %}
<input type="checkbox" name="tag" value="{{ class.id }}"> {{ class.name }} <br>
{% endfor %}
{% endif %}
<input type="hidden" name="id" value="{{ restaurant.id }}">
<br>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<p><input type="submit" value="Confirm changes"><br>
</p>
<p><a href="/">Return to frontpage</a></p>
</form>
{% else %}
Restricted access<br>
<br>
<a href="/">Return to main page</a> 
{% endif %}
</div>
</body>