<!--template for class / tag editing page-->
<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
<div class="content">
{% if session.username == "admin" %}
<p><b>Keep or discard existing tags:</b></p>
<form action="/tagcreate" method="POST">
{% for class in classes %}
<p>{{ class.name }}<br>
<input type="checkbox" name="deletions" value="{{ class.id }}"> Delete
{% endfor %}
<p><b>Add new tags:</b></p>
<p>New tag:<br>
<input type="text" name="answer"></p>
<p>New tag:<br>
<input type="text" name="answer"></p>
<p>New tag:<br>
<input type="text" name="answer"></p>
<p>New tag:<br>
<input type="text" name="answer"></p>
<p>New tag:<br>
<input type="text" name="answer"></p>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<p><input type="submit" value="Update changes"><br>
</p>
<p><a href="/">Return to frontpage</a></p>
</form>
{% else %}
Restricted access<br>
<br>
<a href="/">Return to main page</a> 
{% endif %}
</div>
</body>